MidtermStudyGuide 2026.docx
Syllabus_Spring_2026.doc
study.pdf
study guides/
lectures/
*.tar.gz
*.csv
*.RDataTmp
*.Rhistory
FinalProject/*.tar.gz
FinalProject/*.docx
FinalProject/Writing
FinalProject/output/
